@import "variables";

@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

.cart_container {
    background-color: $dark-gray;
    position: absolute;
    width: 320px;
    top: calc(100% + 15px);
    left: 0;
    z-index: 999999;

    &::before{
        content: "";
        position: absolute;
        top: -17px;
        left: 0px;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 17px solid $dark-gray;
    }

    .cart_list {
        margin: 0;
        padding: 0px;
        list-style: none;

        .cart_item {
            padding: 15px 10px;
            color: $light-gray;
            text-align: center;
            @include flex(space-between, center);

            &:nth-child(2n){
                background-color: #3d3d3f;
                border: 1px solid #515153;
            }

            .item_image {
                width: 80px;
            }

            .item_details{
                width: calc(100% - 100px);
                text-align: right;
                padding: 0 15px 0 5px;

                .item_title {
                    font-size: 13px;
                    color: #fff;
                }

                .price {
                    font-size: 11px;
                    color: #b5b5b5;
                }
            }

            .item_number {
                width: 80px;
                margin: 15px auto; 
                @include flex(space-between, center);
                padding: 6px 5px;
                line-height: 1;
                border: 1px solid #515153;
                border-radius: 10px;
                font-family: sans-serif;

                button {
                    background: transparent;
                    border: none;
                    color: $light-gray;
                    outline: none;
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            .close {
                font-size: 20px;
                cursor: pointer;
            }
        }

        .total_price {
            display: block;
            padding: 20px 30px;

            p{
                @include flex(space-between, center);

                span {
                    font-size: 12px;
                    color: $light-gray;
                }
            }
        }

        .payment {
            display: block;
            width: 150px;
            margin: 10px auto;
            border: none;
            border-radius: 5px;
            background-color: $pink;
            color: #fff;
            padding: 10px;
            text-align: center;
            font-family: Iransans;
            
        }
    }
}