.category_box{
    width: 48%;
    max-width: 450px;
    margin: 20px 0;
    position: relative;


    .category_img{
        width: 100%;
        height: 100%;
    }

    .category_name{
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        z-index: 9;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;

        svg {
            margin: 0 3px;
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .category_box {
        width: 100%;
        
    }
}