@import "variables";

@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

.footer {
    background-color: $dark-gray;
    color: $light-gray;
    padding: 30px 0;

    .footer_top_section {
        @include flex(space-between, center);
        padding-bottom: 10px;
        border-bottom: 1px solid #393c40;

        .contact_list {
            @include flex(space-evenly, center);
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
    
            &_item{
                display: inline-block;
                padding: 15px 0;
                border-left: 1px solid #393c40;

                &:last-child{
                    border-left: none;
                }
            }
    
            &_link{
                @include flex(flex-start, center);
                padding: 0 15px;
                font-size: 12px;
    
                &.phone,
                &.email {
                    direction: ltr;
                    font-family: sans-serif;
                    
                }

                svg {
                    font-size: 20px;
                    margin-right: 3px;
                }
    
            }
        }

        .footer_logo_container {
            @include flex (flex-start,flex-end);
            flex-wrap: wrap;
            direction: ltr;
            
            .footer_logo{
                width: 60px;
                margin-right: 1rem;
            }

            .footer_title,
            .footer_subtitle {
                font-family: sans-serif;
                margin: 0 5px 15px;
                font-weight: normal;
            }
        }
    }

    .footer_bottom_section {
        @include flex(space-between, center);
        padding-top: 25px;

        .footer_text,
        .copyright {
            font-size: 12px;
            color: #e8e8e8;
        }

        .social_link {
            color: #3d3d3f;
            font-size: 20px;
            display: inline-block;
            margin: 0 8px;
            transition: all 0.2s linear;

            &:hover{
                color: $pink;
            }
        }
    }
}

@media only screen and (max-width: 990px) {
    .footer {
        background-color: $dark-gray;
        color: $light-gray;
        padding: 30px 0;
    
        .footer_top_section {
            
            flex-direction: column;
            text-align: center;
    
        }
    
        .footer_bottom_section {
            flex-direction: column;
            text-align: center;

        }
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        background-color: $dark-gray;
        color: $light-gray;
        padding: 30px 0;
    
        .footer_top_section {
            .contact_list {
                flex-direction: column;
                text-align: center;
        
                &_item{
                    border-left: none;
                }
        
            }

            .footer_logo_container {
                
                flex-direction: column;
                text-align: center;

                .footer_logo {
                    margin: 0 auto 10px;
                }
            }
    
        }
    }
}