@import "variables";

@font-face {
  font-family: Iransans;
  font-weight: 300;
  src: url("/assets/fonts/IRANSansWeb(FaNum).ttf")
}

@font-face {
  font-family: Iransans;
  font-weight: 600;
  src: url("/assets/fonts/IRANSansWeb(FaNum)_Bold.ttf")
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  direction: rtl;
  font-size: 14px;
  font-family: Iransans;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 0 5rem;
}


.page {
  padding: 40px 10rem 60px;

  .page_title {
      font-weight: normal;
      margin-bottom: 3rem; 
  }
  
}

@media only screen and (max-width: 768px) {
  .page {
    padding: 40px 5rem 40px;   
  }
}