@import "variables";

.pagination {
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: ltr;

    .page_item{
        display: inline-block;
        margin: 0 2px;

        .page_link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            text-align: center;
            font-family: sans-serif;
            font-size: 12px;
            color: $dark-gray;
            transition: all 0.2s linear;

            &.active {
                background-color: $pink;
                color: #fff;
            }
        }

        &.prev,
        &.next {
            margin: 0 10px;
            .page_link{
                font-size: 18px;
                color: $dark-gray;
            }
        }
    }
}