.products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
    .products {
        flex-direction: column;
        justify-content: center;
    }
}