@import "variables";

.product_box{
    width: 23%;
    max-width: 450px;
    margin: 10px 5px;
    padding: 10px 0;
    position: relative;
    box-shadow: 0 3px 7px rgba(#000, 0.06);
    cursor: pointer;


    .product_image {
        padding: 0px 5px;

        img{
            width: 95%;
            margin: 0 auto;
        }

        .isNew {
            width: 80px;
            margin: 0;
            line-height: 1;
            border-radius: 60px;
            padding: 5px;
            text-align: center;
            color: $pink;
            font-size: 11px;
            border: 1px solid $pink;
        }
    }

    .product_details{
        margin-top: 20px;

        .product_title {
            font-size: 13px;
            text-align: center;
            color: $dark-gray;
        }

        .product_volume {
            font-size: 11px;
            text-align: center;
            color: $pink;
            position: relative;
            left: -20px;
        }

        .price_box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
            padding: 0 10px;

            .addCart {
                display: block;
                height: 22px;
                font-size: 22px;
                color: #0090ff;
                opacity: 0;
            }

            .price {
                font-family: sans-serif;
                font-size: 18px;
                font-weight: 700;
                color: $dark-gray;
                position: relative;
                z-index: 9;
                padding: 1px 20px 1px 0;
                position: relative;

                .priceText {
                    font-family: Iransans;
                    font-weight: normal;
                    color: #d8d8d8;
                    font-size: 14px;
                    margin-right: 5px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -10px;
                    border-radius: 60px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    background-color: $pink;
                    background-image: linear-gradient(to right, #c50042, #ff0056);
                    width: 0;
                    height: 100%;
                    z-index: -1;
                    transition: all 0.15s linear;
                }

            }
  
        }

    }

    &:hover,
    &.active {
        box-shadow: 0 3px 7px rgba(#000, 0.6);

        .product_details .price_box {
            .addCart{
                opacity: 1;
            }
            
            .price{
                color: #fff;
    
                &::before {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 990px) {
    .product_box {
        width: 48%;
    }
}

@media only screen and (max-width: 500px) {
    .product_box {
        width: 90%;
        margin: 10px auto;
    }
}