@import "variables";

@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

.subNav {
    @include flex(space-between, center); 
    position: relative;
    
    .navbar {
        list-style: none;
        margin: 0;
        padding: 0;
        @include flex(unset, center); 

        &_item{
            display: inline-block;
            padding: 10px 5px;
            
        }

        &_link{
            display: inline-block;
            padding: 5px 10px;
            font-size: 12px;
            color: $dark-gray;
            position: relative;

            &.active{
                border-bottom: 2px solid $pink;
            }

            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                background-color: $pink;
                transition: all 0.2s linear;
                top: calc(100% - 1px);
                right: 0;
            }

            &:hover{
                &::after {
                    width: 100%;
                }
            }

        }
    }


    .cart_toggler {
        cursor: pointer;

        .cart_icon {
            display: block;
            height: 24px;
            font-size: 24px;
            line-height: 1;
            position: relative;
        }

        .cart_count {
            position: absolute;
            top: -8px;
            right: -8px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            text-align: center;
            line-height: 22px;
            font-size: 11px;
            color: #fff;
            display: inline-block;
            background-color: $pink;

        }
    }
}
