@import "variables";

@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

.topNav {
    @include flex(space-between, center); 
    border-bottom: 2px solid #ededed;
    
    .navbar {
        list-style: none;
        margin: 0;
        padding: 0;
        @include flex(unset, center); 

        &_item{
            display: inline-block;

        }

        &_link{
            display: inline-block;
            padding: 0 15px;
            color: $dark-gray;

            &:not(.active){
                color: #e0e0e0;
            }

            &.logo {
                display: block;
                height: 69px;
                margin-left: 4rem;
                padding: 0;

                img{
                    width: 55px;
                }
            }
        }
    }
}
