@import "variables";

.userNav_container { 
    position: relative;

    .user_menu_toggler {
        display: flex;
        align-items: center;
        font-size: 12px;

        .username {
            color: #202124;
            display: inline-block;
            margin-left: 4rem;
        }

        div {
            display: flex;
            align-items: center;
        }

        .avater {
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #616161;
            border: 4px solid #e0e0e0;
            position: relative;
            cursor: pointer;

            img{
                width: 90%;
                height: auto;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .user_menu {
        list-style: none;
        margin: 0;
        padding: 20px 10px;
        min-width: 150px;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $dark-gray;
        z-index: 999999999;

        &.open {
            display: block;
        }

        &_link{
            display: inline-block;
            padding: 5px 15px;
            color: #fff;

        }
    }
}
